{% extends "home/base.html" %}
{% load static %}
{% block content %}
<!-- Page Header-->
<header class="page-header page-header-light bg-white">
    <div class="page-header-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10 text-center">
                    <img class="mb-4 rounded-circle" src="{% static 'home/assets/img/profile_pic_large.png' %}" style="width: 18rem;" />
                    <h1 class="page-header-title">Bienvenue sur mon site !</h1>
                    <div class="page-header-text mt-4">
                        <p class="mt-3">Développeur spécialisé dans l'utilisation de <b>Python</b> et du framework <b>Django</b>, j'ai <b>2 ans d'expérience</b> professionnelle en tant que développeur <b>full-stack</b> d'applications <b>web</b>.</p>
                        <p class="mt-3">Très <b>curieux</b>, j'ai soif d'apprendre et de me mettre à l'épreuve. Je suis capable de travailler de façon <b>autonome</b>, mais j'aime également <b>partager</b> des connaissances lorsque l'occasion se présente.</p>
                        <p class="mt-3">Sur ce site, vous pourrez en apprendre davantage sur mes compétences, consulter mes <a href="{% url 'portfolio' %}" class="text-orange">projets personnels réalisés</a> et télécharger <a href="https://drive.google.com/file/d/1TlhOY6FazRYP60lpPx_AA6t-f0dLT88i/view?usp=sharing" class="text-orange">mon CV</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-light">
        <!-- Rounded SVG Border--><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</header>
<section class="bg-light py-10">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="icon-stack icon-stack-xl bg-blue text-white mb-4"><i class="fab fa-python"></i></div>
                <h3>Python</h3>
                <p class="mb-0">Mon langage de prédilection</p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="icon-stack icon-stack-xl bg-green text-white mb-4"><img src="{% static 'home/assets/img/django-icon.png' %}" style="height: 50px;"></img></div>
                <h3>Django</h3>
                <p class="mb-0">Le framework que je maitrise le mieux</p>
            </div>
            <div class="col-lg-4">
                <div class="icon-stack icon-stack-xl bg-yellow text-white mb-4"><i class="fab fa-js-square"></i></div>
                <h3>JavaScript</h3>
                <p class="mb-0">Un outil précieux dans mes projets Web</p>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-white">
        <!-- Rounded SVG Border--><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</section>
<section class="bg-white py-10">
    <div class="container">
        <div class="text-uppercase-expanded small mb-2">Experience</div>
        <hr class="mt-0 mb-5" />
        <div class="row mb-5">
            <div class="col-lg-8">
                <h4 class="mb-0">Développeur Python / Django</h4>
                <p class="lead">Zentux - Lencloître</p>
                <p>Au cours de mes 2 ans chez Zentux, j'ai développé des compétences solides et acquis une précieuse expérience.</p>
                <p>Parmi les projets réalisés, je retiens en particulier :</p>
                <ul>
                    <div class="mt-2"><b><a href="https://www.azurdrones.com/fr/" class="text-orange">Azur Drones</a> (Client)</b>
                        <ul>
                            <li class="mt-2"><b>Projet :</b> Création d'une interface cartographique pour la surveillance industrielle par drones. </li>
                            <li class="mt-2"><b>Technologies utilisées:</b> Python, Django, DRF, Leaflet, Docker, GeoDjango, PostGIS, Websockets, AJAX. </li>
                        </ul>
                    </div>

                    <div class="mt-2"><b><a href="https://omnicite.fr/" class="text-orange">Omnicité</a> (Client)</b>
                        <ul>
                            <li class="mt-2"><b>Projet :</b> Maintenance et développement d'une plateforme de devis et de facturation pour les entrepreneurs et l'équipe de gestion. </li>
                            <li class="mt-2"><b>Technologies utilisées :</b> Python, Django, MySQL, Docker, Postman. Communication avec le front-end Vue.js via une API REST. </li>
                        </ul>
                    </div>

                    <div class="mt-2"><b><a href="https://www.groupefindis.fr/" class="text-orange">Findis</a> (Client)</b>
                        <ul>
                            <li class="mt-2"><b>Projet :</b> Implémentation d'un traducteur open source permettant la transmission de commandes/factures dans le respect de la norme EDI. </li>
                            <li class="mt-2"><b>Technologies utilisées :</b> Python, Django, MariaDB, Docker, Docker Compose, EDI (edifact), PyAS2. </li>
                        </ul>
                    </div>

                </ul>

                <p class="mt-4">J'ai également maîtrisé différentes <b>méthodes de travail</b> au fil des projets, notamment :</p>
                <ul>
                    <li>Git, GitFlow, intégration continue (CI/CD) et tests.</li>
                    <li>Prise de notes, documentation et échanges avec les clients.</li>
                    <li>Prise de décisions techniques, affinements et estimations.</li>
                    <li>Utilisation de méthodes agiles, Kanban et livraison continue.</li>
                </ul>
            </div>
            <div class="col-lg-4 text-lg-right"><div class="text-gray-400 small">Septembre 2021 - Septembre 2023</div></div>
        </div>
    </div>
    <div class="svg-border-angled text-light">
        <!-- Angled SVG Border--><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor"><polygon points="0,100 100,0 100,100"></polygon></svg>
    </div>
</section>
<section class="bg-light py-10">
    <div class="container">
        <div class="text-uppercase-expanded small mb-2">Formation</div>
        <hr class="mt-0 mb-5" />
        <div class="row mb-5">
            <div class="col-lg-8">
                <h4 class="mb-0">Développeur d’application - Python</h4>
                <p class="lead">Openclassrooms - Remote</p>
                <p>Dans le cadre d'une reconversion, j'ai suivi cette formation à distance sur une durée d'un an et demi - équivalence Bac+3/4. De nombreux projets concrets y ont été réalisés. Je vous invite à les consulter dans la rubrique <a href="{% url 'portfolio' %}" class="text-orange">Mes projets personnels.</a></p>
                    <a  href="https://openclassrooms.com/fr/paths/518-developpeur-dapplication-python" class="text-orange">Consulter le détail de la formation.</a></p>
            </div>
            <div class="col-lg-4 text-lg-right"><div class="text-gray-400 small">Octobre 2019 - Avril 2021</div></div>
        </div>  
    </div>
    <div class="svg-border-angled text-white">
        <!-- Angled SVG Border--><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor"><polygon points="0,100 100,0 100,100"></polygon></svg>
    </div>
</section>
<section class="bg-white py-10">
    <div class="container">
        <div class="text-uppercase-expanded small mb-2">Détail des Compétences</div>
        <hr class="mt-0 mb-5" />
        <div class="row">
            <div class="col-lg-8">
                <p><b>Compétences acquises jusqu'à présent :</b></p>
                <ul class="mb-4 text-gray-700">
                    <li><b>Langages :</b> Python, JavaScript, HTML5, CSS3, SQL, Bash </li>
                    <li><b>Frameworks :</b> Django, DRF (API REST)</li>
                    <li><b>Méthodes :</b> Agile, UML, PEP8</li>
                    <li><b>Tests :</b> Tests unitaires et fonctionnels (Pytest, Selenium)</li>
                    <li><b>DevOps :</b> Nginx, Sentry, Supervisor, Cron, CI/CD</li>
                    <li><b>Outils :</b> Git, VScode, Linux ou Windows, Postman</li>
                    <li><b>Langues :</b> Anglais (bilingue), Espagnol (élémentaire)</li>
                </ul>
                <p class="mt-4"><b>Autres compétences en cours d'apprentissage :</b></p>
                <ul class="mb-0 text-gray-700">
                    <li>Flask, VueJS, SASS, C#, Unity Game Engine</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="svg-border-angled text-light">
        <!-- Angled SVG Border--><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor"><polygon points="0,100 100,0 100,100"></polygon></svg>
    </div>
</section>
<section class="bg-light py-10">
    <div class="container">
        <div class="text-uppercase-expanded small mb-2">Centres d'intérêt</div>
        <hr class="mt-0 mb-5" />
        <div class="row">
            <div class="col-lg-8">
                <ul class="mb-0 text-gray-700">
                    <li>Informatique et Nouvelles Technologies</li>
                    <li>Sports (Tennis, Course à pied, Randonnées...)</li>
                    <li>Histoire et Patrimoine</li>
                    <li>Musique (Piano)</li>
                    <li>Voyages et Découvertes</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="svg-border-angled text-white">
        <!-- Angled SVG Border--><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="currentColor"><polygon points="0,100 100,0 100,100"></polygon></svg>
    </div>
</section>
<section class="bg-white py-10">
    <div class="container">
        <div class="text-uppercase-expanded small mb-2">Me Contacter</div>
        <hr class="mt-0 mb-5" />
        <div class="row">
            <div class="col-lg-8 mb-4 mb-lg-0">
                <h3>Guillaume Merle</h3>
                <p class="lead mb-0">+33 06.80.98.46.08</p>
                <a href="mailto:gemacx@gmail.com">gemacx@gmail.com</a>
            </div>
            <div class="col-lg-4 text-lg-right">
                <a class="btn btn-teal btn-lg font-weight-500" href="https://drive.google.com/file/d/1TlhOY6FazRYP60lpPx_AA6t-f0dLT88i/view?usp=sharing"><i class="fas fa-file-pdf text-white-75 mr-2"></i>Télécharger le CV</a>
            </div>
        </div>
    </div>
    <div class="svg-border-angled text-dark">
        <!-- Angled SVG Border-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" fill="#29394F">
            <polygon points="0,100 100,0 100,100"></polygon>
        </svg>
    </div>
</section>

{% endblock content %}
