{% extends "home/base.html" %}
{% load static %}
{% block content %}
<!-- Page Header-->
<section class="bg-light py-10">
    <div class="container animated--fade-in" style="padding-left: 2rem; padding-right: 2rem;">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mb-5 border-bottom">
                    <h2>Mes projets personnels</h2>
                </div>
            </div>
        </div>
        <div class="row text-center">

            <div class="col-md-6 col-xl-4 mb-5">
                <a class="card post-preview lift h-100 card-portfolio" href="https://labouygue.fr/" target="_blank">
                <img class="background-image" src="{% static 'home/assets/img/preview/blog_preview.png' %}" />
                    <div class="card-body hide-text" style="background-color: white">
                        <p class="text-black font-wheight-bolder">
                            L'objectif principal de ce site internet est de permettre aux membres de ma famille de réserver leur séjour dans une maison de vacances familiale.<br>
                            <br>D'autres fonctionnalités ont été développées, telles qu'un forum de discussion, une page de gestion des Travaux et du Budget, ou encore une page dédiée à l'Administration.
                        </p>
                    </div>
                    <div class="card-body-activities">
                        <h5 class="card-title">La Bouygue</h5>
                        <p class="card-text-2 mt-4">Python, Django, JavaScript</p>
                        <p class="card-text-2 mt-4">PostgreSQL, Nginx</p>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-xl-4 mb-5">
                <a class="card post-preview lift h-100 card-portfolio" href="https://store.steampowered.com/app/1731170/Space_Defender/" target="_blank">
                <img class="background-image" src="{% static 'home/assets/img/preview/space_defender.jpg' %}" />
                    <div class="card-body hide-text" style="background-color: #02173D;">
                        <p class="text-white font-wheight-bolder">
                            Mon premier projet avec unity et C#. Dans ce shooter spatial vu du dessus, le but du jeu est de compléter les missions données dans chaque galaxie.<br>
                            <br>Il est possible d'améliorer son vaisseau et son équipement.
                        </p>
                    </div>
                    <div class="card-body-activities">
                        <h5 class="card-title">Space Defender</h5>
                        <p class="card-text-2 mt-4">C#, Unity</p>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-xl-4 mb-5">
                <a class="card post-preview lift h-100 card-portfolio" href="https://grandpy.guillaume-merle.fr/" target="_blank">
                <img class="background-image" src="{% static 'home/assets/img/preview/activities_preview.png' %}" />
                    <div class="card-body hide-text" style="background-color: #323237;">
                        <p class="text-white font-wheight-bolder">
                            Mon premier site internet. Développé avec Flask, il propose à l'utilisateur de demander une adresse en France à Grandpy.<br>
                            <br>Celui-ci analyse alors les mots clés de la requête, nous trouve l'adresse demandée, et nous affiche un plan Google Maps correspondant.<br>
                            <br>De plus, il nous sort une petite anecdote tirée de l'API Wikipedia, en lien avec l'adresse demandée.
                        </p>
                    </div>
                    <div class="card-body-activities">
                        <h5 class="card-title">Grandpy</h5>
                        <p class="card-text-2 mt-4">Python, Flask</p>
                        <p class="card-text-2 mt-4">JavaScript, Jquery, Ajax...</p>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-xl-4 mb-5">
                <a class="card post-preview lift h-100 card-portfolio" href="https://purbeurre.guillaume-merle.fr/" target="_blank">
                <img class="background-image" src="{% static 'home/assets/img/preview/calendar_preview.png' %}" />
                    <div class="card-body hide-text" style="background-color: #54463B;">
                        <p class="text-white font-wheight-bolder">
                            Sur ce site internet basé sur Django, l'utilisateur peut rechercher un produit alimentaire, et trouver des substituts présentant un meilleur nutriscore.<br>
                            <br>Si l'utilisateur s'est créé un compte il peut également ajouter les produits qui l'intéressent à ses favoris.
                        </p>
                    </div>
                    <div class="card-body-activities">
                        <h5 class="card-title">Pur Beurre Web</h5>
                        <p class="card-text-2 mt-4">Python, Django, JavaScript</p>
                        <p class="card-text-2 mt-4">PostgreSQL, Heroku...</p>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-xl-4 mb-5">
                <a class="card post-preview lift h-100 card-portfolio" href="https://github.com/GuillaumeM92/MacGyver-Game" target="_blank">
                <img class="background-image" src="{% static 'home/assets/img/preview/info_preview.png' %}" />
                    <div class="card-body hide-text" style="background-color: #3D3F36;">
                        <p class="text-white font-wheight-bolder">
                            Mon premier projet Python, ce petit jeu à un seul niveau fut développé à l'aide de pygame.<br>
                            <br>Le but du jeu est d'arriver jusqu'à la sortie du labyrinthe en ramassant tous les objets nécessaires, afin d'éviter aux pièges.
                        </p>
                    </div>
                    <div class="card-body-activities">
                        <h5 class="card-title">Mac Gyver</h5>
                        <p class="card-text-2 mt-4">Python, Pygame</p>
                    </div>
                </a>
            </div>

        </div>

    </div>
    <div class="svg-border-rounded text-light">
        <!-- Rounded SVG Border--><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="white"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</section>

<section class="bg-white py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2>Me contacter</h2>
                <p class="mb-5">N'hésitez pas à me contacter pour toute question !</p>
                <div class="row">
                    <div class="col mb-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon-stack icon-stack-lg bg-blue text-white mb-3"><i data-feather="mail"></i></div>
                                <div class="small"><a href="mailto:gemacx@gmail.com">gemacx@gmail.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon-stack icon-stack-lg bg-green text-white mb-3"><i data-feather="smartphone"></i></div>
                                <div class="small">+33 06.80.98.46.08</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-dark">
        <!-- Rounded SVG Border--><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="#29394F"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</section>
{% endblock content %}
