{% extends "home/base_en.html" %}
{% load static %}
{% block content %}
<!-- Page Header-->
<section class="bg-light py-10">
    <div class="container animated--fade-in" style="padding-left: 2rem; padding-right: 2rem;">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mb-5 border-bottom">
                    <h2>My Portfolio</h2>
                </div>
            </div>
        </div>
        <div class="row text-center">

            <div class="col-md-6 col-xl-4 mb-5">
                <a class="card post-preview lift h-100 card-portfolio" href="https://labouygue.com/login/?login-as-test-user" target="_blank">
                <img class="background-image" src="{% static 'home/assets/img/preview/blog_preview.png' %}" />
                    <div class="card-body hide-text" style="background-color: white">
                        <p class="text-black font-wheight-bolder">
                            The main objective of this website is to allow my family members to book their stay in a family vacation home.<br>
                            <br>Other features have been developed, such as a discussion forum, a Works and Budget management page, or a page dedicated to the Administration.
                        </p>
                    </div>
                    <div class="card-body-activities">
                        <h5 class="card-title">La Bouygue</h5>
                        <p class="card-text-2 mt-4">Python, Django, JavaScript</p>
                        <p class="card-text-2 mt-4">PostgreSQL, Nginx</p>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-xl-4 mb-5">
                <a class="card post-preview lift h-100 card-portfolio" href="https://store.steampowered.com/app/1731170/Space_Defender/" target="_blank">
                <img class="background-image" src="{% static 'home/assets/img/preview/space_defender.jpg' %}" />
                    <div class="card-body hide-text" style="background-color: #02173D;">
                        <p class="text-white font-wheight-bolder">
                            My first project with unity and C#. In this top-down 2D space shooter game, the goal is to complete the missions given in each galaxy.<br>
                            <br>It is possible to upgrade the ship and its equipment.
                        </p>
                    </div>
                    <div class="card-body-activities">
                        <h5 class="card-title">Space Defender</h5>
                        <p class="card-text-2 mt-4">C#, Unity</p>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-xl-4 mb-5">
                <a class="card post-preview lift h-100 card-portfolio" href="https://grandpy.guillaume-merle.me/" target="_blank">
                <img class="background-image" src="{% static 'home/assets/img/preview/activities_preview.png' %}" />
                    <div class="card-body hide-text" style="background-color: #323237;">
                        <p class="text-white font-wheight-bolder">
                            My first website. Developed with Flask, the user can ask Grandpy for an address in France.<br>
                            <br>GrandPy then analyzes the keywords of the request, finds the requested address, and displays the corresponding Google Maps location.<br>
                            <br>Moreover, it gives us a little anecdote from the Wikipedia API, in relation to the requested address.
                        </p>
                    </div>
                    <div class="card-body-activities">
                        <h5 class="card-title">Grandpy</h5>
                        <p class="card-text-2 mt-4">Python, Flask</p>
                        <p class="card-text-2 mt-4">JavaScript, Jquery, Ajax...</p>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-xl-4 mb-5">
                <a class="card post-preview lift h-100 card-portfolio" href="https://purbeurreweb.guillaume-merle.me/" target="_blank">
                <img class="background-image" src="{% static 'home/assets/img/preview/calendar_preview.png' %}" />
                    <div class="card-body hide-text" style="background-color: #54463B;">
                        <p class="text-white font-wheight-bolder">
                            On this Django-based website, the user can search for a food product, and find substitutes with a better nutriscore.<br>
                            <br>If the user has created an account he can also add the products he is interested in to his favorites.
                        </p>
                    </div>
                    <div class="card-body-activities">
                        <h5 class="card-title">Pur Beurre Web</h5>
                        <p class="card-text-2 mt-4">Python, Django, JavaScript</p>
                        <p class="card-text-2 mt-4">PostgreSQL, Heroku...</p>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-xl-4 mb-5">
                <a class="card post-preview lift h-100 card-portfolio" href="https://github.com/GuillaumeM92/MacGyver-Game" target="_blank">
                <img class="background-image" src="{% static 'home/assets/img/preview/info_preview.png' %}" />
                    <div class="card-body hide-text" style="background-color: #3D3F36;">
                        <p class="text-white font-wheight-bolder">
                            My first Python project, this small single level game was developed using pygame.<br>
                            <br>The goal of the game is to reach the exit of the maze by collecting all the necessary objects, while avoiding the traps.
                        </p>
                    </div>
                    <div class="card-body-activities">
                        <h5 class="card-title">Mac Gyver</h5>
                        <p class="card-text-2 mt-4">Python, Pygame</p>
                    </div>
                </a>
            </div>

        </div>

    </div>
    <div class="svg-border-rounded text-light">
        <!-- Rounded SVG Border--><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="white"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</section>

<section class="bg-white py-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2>Contact me</h2>
                <p class="mb-5">Make sure to contact me if you have any question!</p>
                <div class="row">
                    <div class="col mb-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon-stack icon-stack-lg bg-blue text-white mb-3"><i data-feather="mail"></i></div>
                                <div class="small"><a href="mailto:gemacx@gmail.com">gemacx@gmail.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="icon-stack icon-stack-lg bg-green text-white mb-3"><i data-feather="smartphone"></i></div>
                                <div class="small">+33 06.80.98.46.08</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="svg-border-rounded text-dark">
        <!-- Rounded SVG Border--><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="#29394F"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</section>
{% endblock content %}
